## かめさん講座　機械学習入門
#### 13.one-hotエンコーディング

In [7]:
# import
import numpy as np
import pandas as pd
import seaborn as sns

from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression

In [2]:
# dataset
df = sns.load_dataset('diamonds')
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [3]:
# cutカラムの中身を表示
df['cut'].drop_duplicates()

0        Ideal
1      Premium
2         Good
5    Very Good
8         Fair
Name: cut, dtype: category
Categories (5, object): ['Ideal', 'Premium', 'Very Good', 'Good', 'Fair']

In [4]:
# cutカラムにダミー変数を入れて表示
pd.get_dummies(df['cut'])

       Ideal  Premium  Very Good  Good  Fair
0          1        0          0     0     0
1          0        1          0     0     0
2          0        0          0     1     0
3          0        1          0     0     0
4          0        0          0     1     0
...      ...      ...        ...   ...   ...
53935      1        0          0     0     0
53936      0        0          0     1     0
53937      0        0          1     0     0
53938      0        1          0     0     0
53939      1        0          0     0     0

[53940 rows x 5 columns]

In [5]:
# 最初の変数名idealを外して表示
pd.get_dummies(df['cut'], drop_first=True)

       Premium  Very Good  Good  Fair
0            0          0     0     0
1            1          0     0     0
2            0          0     1     0
3            1          0     0     0
4            0          0     1     0
...        ...        ...   ...   ...
53935        0          0     0     0
53936        0          0     1     0
53937        0          1     0     0
53938        1          0     0     0
53939        0          0     0     0

[53940 rows x 4 columns]

In [6]:
df = pd.get_dummies(df, drop_first=True)
df.head()

,carat,depth,table,price,x,y,z,cut_Premium,cut_Very Good,cut_Good,...,color_H,color_I,color_J,clarity_VVS1,clarity_VVS2,clarity_VS1,clarity_VS2,clarity_SI1,clarity_SI2,clarity_I1
0,0.23,61.5,55.0,326,3.95,3.98,2.43,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0.21,59.8,61.0,326,3.89,3.84,2.31,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0.23,56.9,65.0,327,4.05,4.07,2.31,0,0,1,...,0,0,0,0,0,1,0,0,0,0
3,0.29,62.4,58.0,334,4.20,4.23,2.63,1,0,0,...,0,1,0,0,0,0,1,0,0,0
4,0.31,63.3,58.0,335,4.34,4.35,2.75,0,0,1,...,0,0,1,0,0,0,0,0,1,0

In [11]:
# 学習
model = LinearRegression()

X = df.loc[:, df.columns!='price']
y = df['price']

cv = KFold(n_splits=5, random_state=0, shuffle=True)
scores = cross_val_score(model, X, y, scoring='neg_mean_absolute_error', cv=cv, n_jobs=-1)
print(np.abs(np.mean(scores)))

740.5483989635792

In [12]:
# 質的変数を除いた場合
model = LinearRegression()
 
df = sns.load_dataset('diamonds')
X = df.loc[:, ~df.columns.isin(['price', 'cut', 'clarity', 'color'])]
y = df['price']
 
cv = KFold(n_splits=5, random_state=0, shuffle=True)
scores = cross_val_score(model, X, y, scoring='neg_mean_absolute_error', cv=cv, n_jobs=-1)
print(np.abs(np.mean(scores)))

890.1499487422358